.sidebar
  :marked
    * [Главная страница](/)
    * [Введение](/aql/introduction)
    * [Руководство по AQL](/aql/tutorial)
      * [CRUD-операции](/aql/aql-tutorial/crud)
      * [Отбор документов](/aql/aql-tutorial/filter)
      * [Сортировка и лимиты](/aql/aql-tutorial/sort-limit)
      * [JOIN-операции](/aql/aql-tutorial/join)
      * [Обход по графу](/aql/aql-tutorial/traversal)