extends ../layout.jade

block title
  title Введение

block sidebar
  include ../partials/aql-sidebar.jade

block content
  :markdown
    # Введение
    ---
    Язык запросов ArangoDB (AQL) может быть использован для извлечения и изменения данных, которые хранятся в ArangoDB.

    Изучаете AQL впервые? Взгляните на [**вводное руководство**](/aql/tutorial), прежде углубиться в остальную документацию.

    Обычно процесс выполнения запроса происходит так:
    - Клиентское приложение отправляет AQL-запрос на ArangoDB сервер. Текст запроса содержит всё, что ArangoDB нужно для формирования ответа.
    - ArangoDB обработает запрос, выполнит его и выдаст результат. Если запрос некорректен или не может быть выполнен, сервер вернёт ошибку, которую клиент сможет обработать и отреагировать. Если запрос может быть успешно выполнен, сервер отправит результаты запроса (если таковые будут) клиенту. 

    AQL - преимущественно декларативный язык, поэтому запрос выражает то, что должно быть достигнуто, но не как это должно быть достигнуто. AQL ставит цель быть человекочитаемым языком, для чего использует ключевые слова на английском языке. Другой целью AQL является независимость клиента: язык и синтаксис одинаковы для всех клиентов вне зависимости от используемых клиентом языков программирования. Следующие цели AQL - поддержка шаблонов сложных запросов и различные модели данных.

    Согласно этому, AQL схож со структурированным языком запросов (SQL). AQL поддерживает чтение и изменение наборов данных, но не поддерживает операции по созданию и удалению баз данных, коллекций и индексов. AQL - это исключительно язык манипулирования данными (data manipulation language - DML), но не язык определения данных (data definition language - DDL) или язык контроля данных (data control language - DCL).

    Синтаксис AQL-запросов различен с SQL, даже если некоторые ключевые слова пересекаются. Тем не менее AQL должен быть лёгок для понимания для любого человека с опытом работы с SQL.

    Для просмотра примеров запросов посетите главы [Запросы к данным](DataQueries.md), [Типичные шаблоны запросов](Examples/README.md) и [Руководство по AQL](/aql/tutorial).
