include ../partials/aql-sidebar.jade

:marked
  # Руководство по AQL
  Перед вами введение в язык запросов AQL базы данных ArangoDB, построенное на небольшом наборе данных персонажей знаменитого сериала "Игра престолов" (сезон 1). Он включает в себя характеристики персонажей на двух языках (английском и немецком), немного семейных связей и небольшой список мест съёмок.

  Перед началом работы нет необходимости импортировать эти данные, они предоставляются как часть этого руководства. Вы можете взаимодействовать с ArangoDB, используя веб-интерфейс для управления коллекциями и выполнения запросов.

  ## Главы
  * [CRUD-операции](/aql/aql-tutorial/crud)
  * [Matching documents](/aql/tutorial/filter)
  * [Sorting and limiting](/aql/tutorial/sort_limit)
  * [Joining together](/aql/tutorial/join)
  * [Graph traversal](/aql/tutorial/traversal)
  * [Geospatial queries](/aql/tutorial/geospatial)

  ## Набор данных
  ### Персонажи
  Набор данных содержит 43 персонажа с их именами, фамилиями, возрастом, статусом (жив или мёртв) и характеристиками (traits). Фамилии и возраст где-то могут отсутствовать. Колонка traits (resolved) не является частью набора данных и добавлена для удобства восприятия.

<img src="/images/Characters_Table.png">

:marked
  ### Характеристика
  В наборе данных используется 18 уникальных характеристик. Каждая характеристика имеет случайную букву латиницы как ключ документа. Названия характеристик даны на английском и немецком языках.

<img src="/images/Traits_Table.png">

:marked
  ### Места съёмок
  Небольшая коллекция из восьми мест съёмок сериала сопровождается двумя свойствами: именем и координатами. Координаты представлены как массивы чисел, состоящих из долготы и широты.

<img src="/images/Locations_Table.png">