h1 Документация ArangoDB на русском языке
h2 Руководства
p Изучайте руководства, чтобы получить помощь и освоить ArangoDB быстрее.

ul
  li
    a(href="#") руководство по ArangoDB
  li
    a(href="/aql/introduction") Документация по AQL
  li
    a(href="#") HTTP/ API Документация


h2 Foxx Framework
p Foxx - это фреймворк, который позволяет писать данноцентричные (data-centric) микросервисы

ul
  li
    a(href="#") Что такое Foxx?
  li
    a(href="#") Создание ваших первых микросервисов
  li
    a(href="#") Migrating 2.x services
