h1 Документация ArangoDB на русском языке
h2 Руководства
p Изучайт руководства, чтобы получить помощь и освоить ArangoDB быстрее 

ul
  li
    a(href="#") ArangoDB Manual
  li
    a(href="#") AQL Documentation
  li
    a(href="#") HTTP/ API Docs


h2 Foxx Framework
p Foxx - это фреймворк, который позволяет писать данноцентричные (data-centric) микросервисы

ul
  li
    a(href="#") What is Foxx?
  li
    a(href="#") Writing your first microservice
  li
    a(href="#") Migrating 2.x services
