doctype html
html(lang="ru")
  head
    block title
      title Документация ArangoDB на русском

    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel="stylesheet" href="/styles/importer.css")

  body

    aside
      block sidebar

    main
      block content

    script src="/js/dependencies/sails.io.js"
